doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
  body
    ul
      each singer in singers
        li 
          a(href=`/singers/${singer.id}`)=singer.name
